@media only screen and (max-width: 600px) {
    #logo_ecosystem {
        margin: "auto";
        width: "55%";
        padding-top: "30px";
    }
}

@media only screen and (min-width: 600px) {
    #logo_ecosystem {
        margin: "auto";
        width: "55%";
        padding-top: "30px";
    }
}

@media only screen and (min-width: 768px) {
    #logo_ecosystem {
        margin: "auto";
        width: "45%";
        padding-top: "30px";
    }
}

@media only screen and (min-width: 992px) {
    #logo_ecosystem {
        margin: "auto";
        width: "30%";
        padding-top: "30px";
    }
}

@media only screen and (min-width: 1200px) {
    #logo_ecosystem {
        margin: "auto";
        width: "30%";
        padding-top: "30px";
    }
}